/*
*Spartan
*/

/*
**Bold
*/
@font-face {
    font-family: 'spartan_mbbold';
    src: url('../fonts/spartanmb-bold-webfont.woff2') format('woff2'),
         url('../fonts/spartanmb-bold-webfont.woff') format('woff'),
         url('../fonts/spartanmb-bold-webfont.ttf') format('truetype'),
         url('../fonts/spartanmb-bold-webfont.svg#spartan_mbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}