/*
*Fonts
*/
$spartan_mbbold: 'spartan_mbbold',sans-serif;

/*
*Colors
*/
    /*
    **Thème 1
    */
        /*
        ***Backgrounds
        */
        $Fiord: #3A4764; /* main background */
        $Ebony-Clay: #232C43; /* toggle background, keypad background */
        $Mirage: #182034; /*  screen background */
        /*
        ***Keys
        */
        $Lynch: #637097; /* key background */
        $East-Bay: #404E72; /* key shadow */

        $Persian-Red: #D03F2F; /* key background, toggle */
        $Old-Brick: #93261A; /* key shadow */

        $Pearl-Bush: #EAE3DC; /* key background */
        $Napa: #B4A597; /* key shadow */
        /*
        ***Text
        */
        $River-Bed: #444B5A;
        $White: #FFFFFF;

    /*
    **Thème 2
    */
        /*
        ***Backgrounds
        */
        $Mercury: #E6E6E6; /* main background */
        $Swiss-Coffee: #D1CCCC; /* toggle background, keypad background */
        $Gallery: #EDEDED; /*  screen background */
        /*
        ***Keys
        */
        $Paradiso: #377F86; /* key background */
        $Blumine: #1B5F65; /* key shadow */

        $Burnt-Orange: #CA5502; /* key background, toggle */
        $Peru-Tan: #893901; /* key shadow */

        $Westar: #E5E4E1; /* key background */
        $Zorba: #A69D91; /* key shadow */
        /*
        ***Text
        */
        $Armadillo: #35352C;
        $White: #FFFFFF;

    /*
    **Thème 3
    */
        /*
        ***Backgrounds
        */
        $Blackcurrant-mBg: #0D0516; /* main background */
        $Blackcurrant-tBg: #13081E; /* toggle background, keypad background, screen background */
        /*
        ***Keys
        */
        $Persian-Indigo: #2F0742; /* key background */
        $Indigo: #660B84; /* key shadow */

        $Tropical-Rain-Forest: #007068; /* key background, toggle */
        $Iris-Blue: #0EB2AA; /* key shadow */

        $Tolopea: #281C35; /* key background */
        $Christalle: #511B5B; /* key shadow */
        /*
        ***Text
        */
        $Bright-Sun: #FFE53D;
        $Shark: #1B2428;
        $White: #FFFFFF;

/*
*Spacers
*/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);