.theme--choices {
    font-size: .75rem;
    cursor: pointer;
}

.calc-display {
    /*display: table-cell!important;
    vertical-align: middle;*/
    width: 100%;
    font-size: 4rem;
    color: $White;
    background-color: transparent;
    border: none;
}